# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

| Data Science Tools |
| -------- |
| Rstudio |
| TensorFlow |
| Apache Spark |

#
##
### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
number = (3*4)+5
print ("This a simple arithmetic expression to mutiply then add integers",(number))

This a simple arithmetic expression to mutiply then add integers 17

In [8]:
print ("This will convert 200 minutes to hours by diving by 60 =",(number),"hours")
number = 200/60

This will convert 200 minutes to hours by diving by 60 = 3.3333333333333335 hours

**Objectives:**
List popular languages for Data Science
- R
- Python
- SQL
- Java
- Julia

#
## Author
Edward O Esclamado Jr